fastapi==0.115.12
uvicorn[standard]==0.34.2
pydantic==2.11.3
httpx==0.28.1
PyJWT[crypto]==2.10.1
agent-framework-foundry
aiohttp
azure-identity
azure-cosmos
azure-storage-blob
azure-search-documents>=11.6,<12
PyYAML
pypdf
pytest==8.3.5
esprima==4.0.1
azure-identity
azure-storage-blob
